<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.engine.endpoints.ExtentReport"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/udayprsingh/IdeaProjects/MainAssignmentRestAssured">
        <classes>
            <class name="api.engine.endpoints.RestAssuredTest">
                <methods>
                    <include name="RegisterUser"/>
                    <include name="addTask"/>
                    <include name="LoginUser"/>
                    <include name="getTask"/>
                    <include name="paginationFor2"/>
                    <include name="paginationFor5"/>
                    <include name="paginationFor10"/>
                    <include name="RegisterWithSameDetailTest"/>
                    <include name="loginNotRegisterdUser"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>